Repository openebs/lvm-localpv, pull requests merged in 2021-09, with the labels that each got.

#148 refact(e2e): Cleanup csi-driver CR before applying updated operator yaml
  e2e-tests/experiments/upgrade-lvm-localpv/test.yml
Labels: e2e/lvm-localpv

#149 chore(cherry-pick): Cherry-pick for PR #148 into v0.8.x
  e2e-tests/experiments/upgrade-lvm-localpv/test.yml
Labels: e2e/lvm-localpv

#103 chore(design): add design proposal for LVM LocalPV node capacity management and monitoring
  design/monitoring/capacity_monitor.md
Labels: design

#156 chore(release): update the helm to 0.8.2
  deploy/helm/charts/Chart.yaml
  deploy/helm/charts/values.yaml
Labels: pr/hold-merge
